/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
    .cate {
        grid-template-columns: 1fr; /* Set single column layout for smaller screens */
        margin: 10px 5px; /* Adjust margin for smaller screens */
    }

    #cate-text i {
        font-size: 20px; /* Decrease icon size for smaller screens */
        padding: 10px; /* Decrease padding for smaller screens */
    }

    #cate-text h2 {
        font-size: 12px; /* Decrease heading size for smaller screens */
    }

    #cate-text p {
        font-size: 11px; /* Decrease paragraph font size for smaller screens */
    }



    .Excos {
        padding: 20px; /* Adjust padding for smaller screens */
        margin: 30px 10px; /* Adjust margin for smaller screens */
    }

    .leaders h3 {
        font-size: 20px; /* Decrease font size for smaller screens */
        margin-bottom: 20px; /* Adjust margin for smaller screens */
    }

    #team-text {
        padding: 0 5px; /* Adjust padding for smaller screens */
    }

    #team-text i {
        font-size: 20px; /* Decrease icon size for smaller screens */
        padding: 8px; /* Decrease padding for smaller screens */
    }

    #team-text h2 {
        font-size: 13px; /* Decrease heading size for smaller screens */
    }

    #team-text p {
        font-size: 12px; /* Decrease paragraph font size for smaller screens */
    }

    .leaders .teamA:last-child {
        margin-top: 20px; /* Adjust margin for smaller screens */
    }
}


@media (max-width: 767px) {
   
    .about {
        margin: 0;
        z-index: 999;
        padding: 0px 20px; /* Adjust padding for mobile */
        text-align: justify;
    }
    
    .topic {

        text-align: center;
        padding-top: 20px; /* Adjust padding for mobile */
    }
    
    .topic a {display: none;}


    .overview {
        background-color: rgb(249, 249, 249);
        box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.2);
        padding: 30px;
        text-align: justify;
        display: flex;
        flex-wrap: wrap;
        margin: 25px 20px 0;
        justify-content: space-between;
      }
      
      .over p {
        padding-top: 15px;
        font-size: 13px;
        width: 100%;
        max-width: 500px;
        line-height: 25px;
        font-family: "open sans";
        font-weight: 700;
      }
      
      .overview img {
        height: 350px;
        width: 100%;
        object-fit: cover;
      }
      
      .cell {
      
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 40px 20px;
      }
      
      #cell-text {
        padding-top: 20px;
        text-align: center;
      }
      
      #cell-text i {
        color: #00743f;
        font-size: 30px;
        padding: 10px;
        border: 3px solid #00743f;
        border-radius: 100px;
      }
      
      #cell-text p {
        margin-top: 15px;
        font-size: 12px;
        width: 100%;
        max-width: 180px;
        line-height: 18px;
        font-family: "open sans";
        font-weight: 400;
      }
      
    

    
    .vision {
        margin: 0;
        padding-top: 10px;
        display: flex;
        height: auto; /* Adjust height for mobile */
    }

    .vision img{
        display: none;
    }
    
    #vision-text {
        text-align: center;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0.0.0, 0.5)), url(./images/img\ 4.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #vision-text h3 {
        color: white;
        font-size: 12px; /* Adjust font size for mobile */
        font-family: "roboto";
    }
    
    #vision-text p {
        color: white;
        padding-top: 10px; /* Adjust padding for mobile */
        font-size: 10px; /* Adjust font size for mobile */
        font-weight: lighter;
        font-family: "roboto";
    }
    
    .about-text h2 {
        font-size: 15px; /* Adjust font size for mobile */
        font-family: "Roboto";
        font-weight: 700;
        line-height: 30px; /* Adjust line height for mobile */
    }
    
    .about-text p {
        line-height: 18px; /* Adjust line height for mobile */
        font-size: 11px; /* Adjust font size for mobile */
        font-family: "Roboto";
        font-weight: 400;
    }



    .categories {
        padding: 0;
        margin-top: 80px;
        text-align: center;
    }
    
    .categories p {
        align-items: center;
        color: #00743f;
        font-size: 25px;
        font-family: "roboto";
        font-weight: 700;
    }
    
    .cate {
        padding: 0 10px; /* Adjust padding for smaller screens */
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px; /* Add gap between grid items */
        margin: 10px 20px; /* Adjust margin for smaller screens */
    }
    
    #cate-text {
        padding: 20px 0;
    }
    
    #cate-text i {
        color: #00743f;
        font-size: 30px;
        padding: 15px;
        border: 3px solid #00743f;
        border-radius: 100px;
    }
    
    #cate-text h2 {
        padding-top: 15px;
        font-size: 15px;
        font-family: "open sans";
        font-weight: 700;
    }
    
    #cate-text p {
        color: black;
        margin-top: 15px;
        font-size: 13px;
        line-height: 20px;
        font-family: "open sans";
        font-weight: 400;
    }

    .Excos {
        background-color: rgb(249, 249, 249);
        box-shadow: 1px 1px 16px 1px rgba(0, 0, 0, 0.2);
        padding: 30px 0px; /* Adjust padding for smaller screens */
        text-align: justify;
        display: flex;
        flex-wrap: wrap; /* Allow flex items to wrap */
        justify-content: space-between;
        margin: 50px 20px; /* Adjust margin for smaller screens */
    }
    
    .teamA {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
    
    .leaders h3 {
        color: #00743f;
        margin-bottom: 30px; /* Adjust margin for smaller screens */
        text-align: center;
        font-size: 25px; /* Decrease font size for smaller screens */
        font-family: "Roboto";
        font-weight: 700;
    }
    
    #team-text {
        padding: 20px 10px; /* Adjust padding for smaller screens */
        text-align: center;
    }
    
    #team-text i {
        color: #00743f;
        font-size: 25px; /* Decrease icon size for smaller screens */
        padding: 10px;
        border: 3px solid #00743f;
        border-radius: 100px;
    }
    
    #team-text h2 {
        padding-top: 15px;
        font-size: 15px;
        font-family: "open sans";
        font-weight: 700;
    }
    
    #team-text p {
        color: black;
        font-size: 13px;
        font-family: "open sans";
        font-weight: 400;
    }
    
    .leaders .teamA:last-child {
        margin-top: 30px; /* Adjust margin for smaller screens */
    }
    
     
    .business {
        padding: 20px; /* Adjust padding for smaller screens */
        text-align: justify;
        margin: 50px 10px 0; /* Adjust margin for smaller screens */
    }
    
    .ceo {
        text-align: justify;
        display: flex;
        flex-wrap: wrap; /* Allow flex items to wrap */
        justify-content: space-between;
    }
    
    .business h3 {
        color: #00743f;
        margin-bottom: 15px; /* Adjust margin for smaller screens */
        text-align: center;
        font-size: 25px; /* Decrease font size for smaller screens */
        font-family: "Roboto";
        font-weight: 700;
    }
    
    .busn {
        padding: 20px; /* Adjust padding for smaller screens */
    }
    
    .busn h3 {
        color: #00743f;
        padding-top: 15px;
        margin-bottom: 0;
        font-size: 18px; /* Decrease font size for smaller screens */
        font-family: "Roboto";
        font-weight: 700;
        text-align: left;
    }
    
    .busn p {
        line-height: 20px; /* Decrease line height for smaller screens */
        width: auto; /* Remove width limitation for smaller screens */
        max-width: 100%; /* Limit width to container width for smaller screens */
        color: black;
        font-size: 12px; /* Decrease font size for smaller screens */
        font-family: "open sans";
        font-weight: 400;
    }
    
    .info {
        display: none;
    }

    
    .togo {
        background-color: #323232;
        display: flex;
        flex-direction: column; /* Change flex direction for mobile */
        align-items: center; /* Center align for mobile */
        padding: 0px 10px; /* Adjust padding for mobile */
    }
    
    .end {
        padding-top: 20px; /* Adjust padding for mobile */
    }
    
    .end a {
        text-decoration: none;
        color: white;
        font-size: 11px; /* Adjust font size for mobile */
        font-family: "Roboto";
        font-weight: 400;
        line-height: 20px; /* Adjust line height for mobile */
    }
    
    .end a span {
        font-weight: 700;
    }
    
    footer p {
        color: white;
        background-color: #565656;
        text-align: center;
        padding: 10px;
        font-size: 13px; /* Adjust font size for mobile */
        font-family: "Roboto";
        font-weight: 400; 
    } 
  
}