@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Roboto*/
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap'); /*'Open Sans', sans-serif;*/
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}


body{
    background-color:white;
}



.banner{
    background-color: #023820;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 140px 0 80px ;
    height: 10vh;
   
}

.log img{
    height: 40px;
}


.fatai{
    width: 60%;
    height:6vh;
    margin:auto;
}

.fatai form  {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.fatai form input[type=text] {
    width: 100%;
    height: 40px;
    padding: 1px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: 0.5s;
    outline: none;
  }

  input[type=text]:focus {
    border: 3px solid  #ccc;
  }

  .button{
    width: 15%;
    height: 40px;
    background-color: #323232;
    color: white;
    padding: 10px 10px ;
    text-transform: uppercase;
    font-size: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: 700;
  }

nav ul{
    display: flex;
    
}

nav ul li{
    padding: 0px 10px;
    color: white;
    font-family: "Roboto";
    font-weight: 400;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 11px;
}

nav ul li a:hover{
  color: white;
}

nav ul li a span{
    font-weight: 700;

}

nav ul li i{
    font-size:9px;
    padding: 0 0 0 3px;   
}

.sublist{
    display:none;
}


nav ul li:hover .sublist{ 
    display:block;
    position: absolute;
    left: 90;
    top:56px;
    background-color:#00743f;
}

nav ul li:hover .sublist ul{
    display: block;
  
}

nav ul li:hover .sublist ul li{
    width: 100%;
    padding: 10px 40px 10px 10px;
    text-transform: capitalize;
}

nav ul li:hover .sublist ul li a{
    color:white;
    font-size: 12px;
    padding: 5px 10px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

nav ul li:hover .sublist ul li a:hover{
    color: black;
    font-weight: light;
}


.content{
    display:none;
}

nav ul li:hover .content {
    display: block;
    position: absolute;
    background-color:#00743f;
    top: 50px;
    right:32px;
    padding: 30px 30px 15px ;
}

nav ul li:hover .content button{
    color:white;
    background-color:#040303;
    text-align: center;
    padding: 7px 40px;
    font-size: 13px;
    font-family: "roboto";
    font-weight: 700;
    border: none;
}

nav ul li:hover .content button:hover{
    background-color:#363636;
}
nav ul li:hover .content p{
    padding-top: 15px;
    font-size: 10px;
}

nav ul li:hover .content p a{
    font-size:12px;
    font-family: "open sans";
    font-weight: 400;
    text-decoration:underline;
}

#car img{
    height: 56px;
    color: white;
    position: absolute;
    top:13px;
    right: 95px;
    color: white;
}

#car  span{
    position: absolute;
    top: 37px;
    right: 85px;
    text-decoration:none;
    color: white; 
    font-family:"roboto" ;
    font-size: 12px;
    font-weight: 700;
}


.help{
    margin: 50px 100px;
    padding:50px;
    display: flex;
    justify-content:center;
    background-color:#00743f;
    height: 45vh;

}



.help h4{
    color: white;
    font-family: "roboto";
    font-size: 38px;
    font-weight: 600;
}

.help img{
    height: 200px;
}



.faq {  
    margin: 50px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.faq1 {
    color: black;
    background-color:rgb(245, 245, 245);
    display: flex;
    gap: 120px;
    width: 900px;
    margin: 15px 150px;
    box-sizing: border-box;
    padding: 40px 70px;
    
}

.faq1:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
   
}

#faqtext h2{
    font-size:30px ;
    font-family: "open sans";
    font-weight: 700;
    
}

#faqtext p{
    padding-top: 20px;
    width: 80%;
    line-height: 25px;
    font-size:15px ;
    font-family: "open sans";
}

.faq1 img{
    margin: 30px 0px 0px 15px;
    align-items: center;
    height: 80px;
}

.togo{
    background-color: #323232;
    display: flex;
    justify-content: space-between;
    padding: 0px 250px 0px 60px;
    
}

.loog img{
    margin-top: 40px;
    height: 50px;
}

.end{
    padding-top: 50px;
}

.end a{
    color: white;
    font-size: 13px;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 30px;
}

.end a span{
    font-weight: 700;
}

footer p{
    color: white;
    background-color: #565656;
    text-align: center; 
    padding: 10px;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 400;
}

.logo img{
    height: 200px;
}